<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<script src="https://kit.fontawesome.com/76613e2f02.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link
	href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
	rel="stylesheet">
<header class="header_style_1"
	style="font-family: 'Quicksand', sans-serif; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 99">
	<!-- thanh menu -->
	<div class="contain" style="width: 100%; background-color: white;">
		<nav class="navbar navbar-expand" style="height: 4rem;">
			<a class="navbar-brand" th:href="@{/fpolystore.com}"><img alt="" src="/assets/images/logos/logo3.png" style="width:15rem;height:auto;margin-top: -44%" ></a>
			
			<!-- Bộ lọc -->
			<div class="menu_side1">
				<div id="navbar_menu">
					<ul class="first-ul">
						<div class="side_bar_blog" style="width: 400px; margin-top: 20px;">
							<div class="side_bar_search">
								<div class="input-group stylish-input-group">
									<form action="/product/seach">
										<input class="form-control" name="keywords"
											placeholder="Search" ng-model="s" style="width: 360px"
											type="text" required="required">
										<button type="submit" ng-click="search()"
											class="input-group-addon"
											style="border: none; margin-top: 13px; background: transparent;">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
										<!-- <span class="input-group-addon">
											</span> -->
									</form>
								</div>
							</div>
						</div>

						<li style="margin-top: 32px;"><a class="fst-italic"
							style="color: black;" th:href="@{/fpolystore.com}"><i
								aria-hidden="true"></i>Trang chủ</a></li>
						<!-- <li style="margin-top: 32px;"><a style="color: black;"
							th:href="@{/cart/view}"><i aria-hidden="true"></i>Tin tức</a></li> -->
						<li style="margin-top: 32px;"><a style="color: black;"
							th:href="@{/contact}"><i aria-hidden="true"></i>Liên hệ</a></li>
						<li style="margin-top: 32px;"><a style="color: black;"
							th:href="@{/order/list}"><i aria-hidden="true"></i> Lịch sử</a></li>
						<!-- <li><a style="color: black;"><i aria-hidden="true"></i>
									Liên hệ</a></li>
							<li><a style="color: black;"><i aria-hidden="true"></i>
									Hỗ trợ</a></li> -->
						<!-- card -->

						<li style="margin-top: 32px;"><a th:href="@{/cart/view}"><i
								class="fa-solid fa-cart-shopping">(<span
									style="color: black;">{{cart.count}}</span>)
							</i></a></li>
						<!-- user -->
						<th:block th:unless="${#request.remoteUser}">
							<li style="margin-top: 32px;"><a
								th:href="@{/security/login/form}"> Đăng nhập <i
									class="fa-solid fa-user"></i>
							</a></li>
						</th:block>

						<th:block th:if="${#request.remoteUser}">
							<li style="margin-top: 32px;"><a
								th:href="@{/security/logoff}">Đăng xuất <i
									class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
						</th:block>

						<li style="margin-top: 32px;"><a id="username"
							style="color: black;" th:href="@{/security/account_detail}">[[${#request.remoteUser}]]</a></li>

						<th:block th:if="${#request.remoteUser}">
							<li style="margin-top: 32px"
								th:if="${#request.isUserInRole('ADMIN')} or ${#request.isUserInRole('STAFF')}"><a
								th:href="@{/admin}"><i class="fa-solid fa-lock"></i></a></li>
						</th:block>
					</ul>
				</div>
			</div>

		</nav>
		<!-- danh muc -->
		<div class="row" style="background: #4a90e2">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				style="margin-top: -30px">
				<!-- menu start -->
				<div class="menu_side1">
					<div id="navbar_menu" style="text-align: center;">
						<ul class="first-ul">
							<li th:each="c:${catemenu}"><a style="color: white;"
								th:href="@{|/product/list?cid=${c.id}|}"
								th:attr="ng-click=@{|loadProduct(${c.id})|}"> <!-- <i class="fa fa-laptop" aria-hidden="true"></i>  -->
									[[${c.name}]]
							</a></li>
						</ul>
					</div>

				</div>
				<!-- menu end -->

			</div>
		</div>
	</div>
</header>