<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main th:object="${account}">
	<div class="row">
		<div class="col-lg-4" style="margin-top: 130px;">
			<div class="card mb-4">
				<div class="card-body text-center">
					<img th:src="@{|/assets/admin/imageA/${account.photo}|}"
						alt="avatar" class="rounded-circle img-fluid"
						style="width: 150px; height: 150px;">
					<h5 th:text="*{username}" class="my-3"></h5>
					<p th:text="*{fullname}" class="text-muted mb-1">Full Stack
						Developer</p>
					<!-- <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
					<!-- <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-primary">Follow</button>
                                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                                </div> -->
				</div>
			</div>
			<div class="card mb-4 mb-lg-0">
				<div class="card-body p-0">
					<ul class="list-group list-group-flush rounded-3">
						<li
							class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fa fa-user" aria-hidden="true" style="color: #333333;"></i>
							<p id="username" th:text="*{username}" class="mb-0"></p>
						</li>

						<li
							class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fa fa-user-circle" aria-hidden="true"
							style="color: #55acee;"></i>
							<p th:text="*{fullname}" class="mb-0"></p>
						</li>
						<li
							class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fa fa-phone" aria-hidden="true" style="color: #ac2bac;"></i>
							<p th:text="*{phoneNumber}" class="mb-0"></p>
						</li>
						<!-- <li
							class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fa fa-location-arrow" aria-hidden="true"
							style="color: #3b5998;"></i>
							<p th:text="*{address}" class="mb-0"></p>
						</li> -->
						<li
							class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fa fa-envelope" style="color: yellowgreen;"></i>
							<p id="email" th:text="*{email}" class="mb-0"></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-8" style="margin-top: 130px;">
			<div class="card mb-4">
				<div class="card-body">
					<form>
						<div class="form-group">
							<input type="password" class="form-control" id="passhientai"
								placeholder="Mật khẩu hiện tại" required autocomplete="off">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="passnew"
								placeholder="Mật khẩu mới" required autocomplete="off">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="confirm"
								placeholder="Xác nhận mật mới" required autocomplete="off">
						</div>
						<div
							class="d-flex flex-row align-items-center justify-content-between">
							<button type="button" class="btn btn-primary"
								ng-click="account.changepass()">Đổi</button>
						</div>
					</form>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body">
					<div role="form" class="wpcf7" id="wpcf7-f976-o1" dir="ltr"
						lang="en-US">
						<div class="screen-reader-response"></div>
						<form action="#	" method="post" class="wpcf7-form"
							novalidate="novalidate">
							<div style="display: none;">
								<input type="hidden" name="_wpcf7" value="976"> <input
									type="hidden" name="_wpcf7_version" value="5.1.1"> <input
									type="hidden" name="_wpcf7_locale" value="en_US"> <input
									type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f976-o1">
								<input type="hidden" name="_wpcf7_container_post" value="0">
								<input type="hidden" name="g-recaptcha-response" value="">
							</div>

							<!-- <input type="text" placeholder="Địa chỉ" name="looking_for" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control required"> -->
							<div class="form-content">
								<div class="form-content">
									<div class="form-field">
										<!-- <input name="fn" type="text" style="width: 100%;"> -->
										<div hidden class="form-control" id="username">[[${#request.remoteUser}]]</div>
									</div>
									<div class="form-left-side ">
										<label>Tỉnh/Thành:</label>
										<select style="height: 40px; width:490px;" class="form-select mb-2" ng-change="changeDistrict()"
											ng-model="itemProvince.id" id="prov"
											aria-label="Default select example">
											<option ng-value="p.ProvinceID"
												ng-repeat="p in province.data">{{p.ProvinceName}}</option>

										</select>

									</div>

									<div class="form-right-side">
										<label>Quận/Huyện:</label>
										<select style="height: 40px; width:490px;" class="form-select mb-2" ng-change="changeWard()"
											ng-model="itemDistrict.id" id="dis">
											<option ng-value="d.DistrictID"
												ng-repeat="d in district.data">{{d.DistrictName}}</option>

										</select>
									</div>
								</div>

							</div>
							<div class="form-content">
								<div class="form-content">
									<div class="form-left-side ">
										<label>Phường/Xã:</label>
										<select style="height: 40px; width:490px;" class="form-select mb-2" ng-model="itemWard.id"
											id="ward">
											<option ng-value="w.WardCode" ng-repeat="w in ward.data">{{w.WardName}}</option>

										</select>
									</div>

									<div class="form-right-side">
										<label>Địa chỉ: </label>
										<input class="form-control mb-2" id="txtAdress"></input>
									</div>
								</div>

							</div>

							<div class="form-content">
								<div class="form-left-side">
									<label>Tên người nhận:</label> <input id="fullname"
										ng-model="account.fullname" style="height: 40px;" type="text"
										size="40"
										class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control required"
										aria-required="true" aria-invalid="false">
								</div>
								<div class="form-right-side">
									<label>Số điện thoại:</label> <input id="phoneNumber"
										ng-model="account.phoneNumber" style="height: 40px;" size="40"
										class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control required"
										required aria-invalid="false">
										<em id="messErPhone"></em>
								</div>
								<div class="form-right-side">
									<label>Email:</label> <input id="emailUpdate"
										ng-model="account.email" style="height: 40px;" size="40"
										class="form-control"
										required aria-invalid="false">
										<em id="messErEmail"></em>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 payment-bt">
									<div>
										<button type="button" ng-click="account.updateAccount()"
											class="bt_main">Cập Nhật Thông Tin</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			 
		</div>
	</div>
	</main>
</body>

</html>






















