<nav
	class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
	<div class="navbar-brand-wrapper d-flex align-items-center">
		<a class="navbar-brand brand-logo" href="/fpolystore.com"> <img
			style="background: #cecdcd; clip-path: circle(43%); height: 4em; width: 4em; margin-top: 38px; margin-left: 50px; margin-bottom: 40px; width: 60px; height: 60px;"
			src="/assets/admin/images/social_icons/logo.png" alt="logo" class="logo-dark" />
		</a> <a class="navbar-brand brand-logo-mini" href="index.html"><img
			src="/assets/admin/images/social_icons/logo.png" alt="logo" /></a>
	</div>
	
</nav>